.timeline ul li::before {
	content: '';
	position: absolute;
	left: 12px;
	transform: translateX(-50%);
	height: 24px;
	width: 24px;
	border-radius: 50%;
	background: rgb(98, 109, 121);
}

li {
    list-style-type: none;
}