<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align: center;">
  <h1>
    <span style="font-size: smaller;">Hi, I'm </span>
    <span>Gustavs Venters</span>
    <span style="font-size: smaller;">!</span>
  </h1>
</div>
<mat-tab-group [color]="primary" [backgroundColor]="accent">
  <mat-tab label="Abut me">
    <div style="text-align: justify;">
      <p>I’m a full stack software engineer who mainly works with Java. I made this website to make a short introduction about
        me, as well as to play with Angular a bit. My resume can also be found on
        <a href="https://www.linkedin.com/in/gustavs-venters/">linkedin</a>.</p>
    </div>
  </mat-tab>
  <mat-tab label="Timeline">
    <div class="timeline">
    <ul>
      <li *ngFor="let event of events">
            <div>
              <p>{{event.year}}</p>
              <p>{{event.description}}</p>
            </div>
      </li>
      </ul>
  </div>
  </mat-tab>
  <mat-tab label="Competencies"> In progress... </mat-tab>
  <mat-tab label="Contact"> In progress... </mat-tab>
  <mat-tab label="Hobbies"> In progress... </mat-tab>
</mat-tab-group>