<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align: center;">
  <h1>
    <span style="font-size: smaller;">Hi, I'm </span>
    <span>Gustavs Venters</span>
    <span style="font-size: smaller;">!</span>
  </h1>
</div>
<mat-tab-group [color]="primary" [backgroundColor]="accent">
  <mat-tab label="Abut me">
    <div style="text-align: justify;">
      <p>I’m a full stack software engineer who mainly works with Java. I made this website to make a short introduction about
        me, as well as to play with Angular a bit. My resume can also be found on
        <a href="https://www.linkedin.com/in/gustavs-venters/">linkedin</a>.</p>
    </div>
  </mat-tab>
  <mat-tab label="Timeline">
    <div class="timeline">
    <ul>
        <li>
          <div>
            <p>1991</p>
            <p>Born</p>
          </div>
        </li>
        <li>
          <div>
            <p>2011</p>
            <p>Graduated Riga State Gymnasium No.1</p>
          </div>
        </li>
        <li>
          <div>
            <p>2011-2013</p>
            <p>Programming and Administration of Computer Networks at Latvijas Universitāte</p>
          </div>
        </li>
        <li>
          <div>
            <p>2011-2015</p>
            <p>Bachelor's degree in Computer Science at Latvijas Universitāte</p>
          </div>
        </li>
        <li>
          <div>
            <p>2015-2017</p>
            <p>Master's degree in Computer Science at Free University of Bozen - Bolzano</p>
          </div>
        </li>
        <li>
          <div>
            <p>Nov 2017 – Dec 2017</p>
            <p>Research Assistant at Free University of Bozen - Bolzano</p>
          </div>
        </li>
    </ul>
  </div>
  </mat-tab>
  <mat-tab label="Competencies"> In progress... </mat-tab>
  <mat-tab label="Contact"> In progress... </mat-tab>
  <mat-tab label="Hobbies"> In progress... </mat-tab>
</mat-tab-group>